html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #141424;
    color: #f9f9f9;
}

footer {
    color: #f9f9f9;
}

.mb-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-plan {
    background-color: #d8bf6e;
    color: #010101;
    border-color: transparent;
}

.btn-plan:hover {
    background-color: #e2d098;
}

.card-deck {
    color: #212529;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
